---
const asciiArt = `
                              *@@@@@@@@@*@-#@-%@@@%@=%***.:%+-*@%%--#*+%@@@@%+.          :%%@@@@@=  *#=@:-@: .*@@@@@-.%@%-        .%+                -@@+ **#@:  --:@@#-#.+*   .@:*%     --%@+%#  #@=  *@##@@#                                          :+%%@@@@@@@@@@*           +@@@@@@@@@@%@-             
                              :@@@@@@@@@%##:%@:%@@#%%-%### .*-+-@*+@*.#=  :+%@@@*.       :%+@#@@@#  -#.@=.@= :.*@@@@==@*+        -@=           :    .@@+.:%-%-   + +@%:@-.#    : -#.     :+@#+@=  *@-  *+#%@@=                                     :*@@@@@%@@@@@@@@@@@         .*@@@@@@@@@@@%%%.             
                               %@@@@@@@@@+%-:%#:%@@-%%.*#*%. -:*:*%=-##-=*:   -*%@%=     -@-@#%@@%. :#.** *#. - *%#@@@%+-       -#.           -     #@=-.+*-=   ...#@:*# -.      %=      -%@.*@.  #@: .+*%%@%:                          .::-=+*#@@@@@@@@@@@@@@@@@@@@%       ..*@@@@@@@@@@@@@%@=              
                               *@@@@@@@@@@-+ .#= #@#-@@.=%+#. --#-.@%..*@+:#*. . :%@@%.  -@-%@+@@@: .#..#.-%: -. *##@@**.      =#.           :.    -@*.:.%:-      -@:-%         *#.     .+*= %#  .@#. -+%%+@#                    :+#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*      .+@@@@@@@@@@@@@@@@@#               
                               :@@@@@@@@@@%:  .-= *@++@%::#=%: .=+*:=%#: -#+:*#:    -%@#:-@-+@=#@@=  *. +: %= :: :#%@%%:      -%            .:     #% :.=#:       *+.#=        .@:      -.+ :@+  +@= :-+@+*@-              :=*%%%%%@@@@@@%#%@%%@@@@@@@@@@@@@@@@@@%-   :-*@@@@@@@@@@@@@@@@@@@%.               
                                +@@@@@@@@@@%:    - *@-+@% .+-#-  --*#.-@#  .+*.=%-    :*@@@.:%*+@@*  *: .. ** .:  *@@@-      .#.           .=     .@= - #=       .%:+#         +=       .-. -@: :%% ::-@*:%%          .=%%%**#%@@%@@*-..=%##%@@@@@@@@@@@@@@@@@@#:.=#@@@@@@@@@@@@@@@@@@@@@@@@-                
                                 #@@%%@@@@@@#       :%:=@@..*-*-  .==%+.=%+   -*:+%-     +@%.+#:%@%. *:    =%  - .%@@=       *-            =      =%..:.#.       +*=@-        :+            +*  #@..::@%.*@=      .=%@#=:=%@%#+++-  .=%%*%@@@@@%*:+@@@@@@@@@@#+%@@%%@@@@@@@@@@@@%@@@@@@@@@@+                 
                                 .@@@%%@@@@@@%.      .+-=@%: ==*=   :-+%- +%-   .-.+*      =%-+.#@@- +:    :%  - +@@#.      ++            -:      #* -.:*       .%=##        .+:            =. #@=.-.%@=.@%.  .+#@#=. +%%*+++-.  .=#**%@@@@@*-.:+*@@@@@@@@@@@@%-=*@@@@@@@@@@@@+-%@@@@@@@%@#                  
                                  =@@#=@@@@@@@@:       ...%%..-=+=    ::#%..%#.   .: *=     .%%.=@@+ --    .#- :#@#%-      :+            --      :@-.- *-       -@+%.        --             . *@*.:.##=:+@# +@@%- .=*-:-*+.    :#%*@@@@@%=   =*:%@+#@@@@@@@@%:=@@@@@@@@@@@@@- =@@@@@@@@%@%:                  
                                   *@@*:%@@@@@@@-          *@- -=+:      :%+ =#+    ::.+.     +%-%@% :=     =+ :@##%       -            -::      +% -:.*        ++#=         :               *@%.-.#*+=.%@@@@*. :-. .--      -##%@@%*-.   -=:-%#=#@@@@@#+*#=#@@@@@@@@@@@%=.  +@@#%@@@@@@@%.                  
                                    %@@#.#@@@@@@@=          -@+ .-*:       =@-:##.   .- .+     -%#@@=.+     .#.#@+%-       .           .:-.      #= = :-        ++#.             :          +@@.:-@#=:.*@@@=  +:          ..%%@@#:      =-.+@#+%@@@@@-:#*+@@@@@@@#@@@#-     *@@+%@@@@#%%@#                   
                                     #@@%:+@@@@@%#+          .#+ .-+:        +*=-*-    :  --    :%@@%.+.     :+@*+#                    ::-      :# .= :        .+*=             .:         -@@=:+@#:::%@%- .:.           .#@%+.      .=- -+-=@@@@@*.-*%%@@@@@@%*=%+.      :%@%+@@@@@%@@@@+                   
                                     :#@@@=:%@@@@%##           **  -*.        .*#-=+       ..     #@@=-+     :@%:*=       .:           :=:      +- :- :        :**              =.        :%@+:*@#--%@%-                *@+.        *-   .+*@@@%-.=++%@@@@@@@=+@+        .#@##@@@@@@@@@@@-                   
                                      .#@@@*.+@@@@@+#.          :+. :*.         :%=-*:             +@%-#     #%==#:      .-           ::+      .+. --.:        -+-             ::         #@#.#@#:*@%.                =%-         =:   .+=-#@#:.+=-@@@@@@@%-+@+          *%:#%@@@@@@@@@@%-                   
      *=                                #@@%#:.#@%@@*#.          .+.  *:          =#-*=          .  :@%*:   -@-=+#.      ::           ---      :+  =.-.        +:             .=         #@%.*@=-%@-         :.     :#-         --   .+=--*=..=:.#%%@@%%#:*%=           *--@*%@@@@@@@@@@#:             *+    
      #*                                -@@@**# -%*@#=@-           :-  +-          .%=+=             -@@+   *-==*+       =           .-=.      #: .=.         .+              -.        *@@++@+#@%   .     *:     .+.               =*:-+- .*= -@+%@#*%.*@=           .- =%+@@@@@@@@@@@@%.            :@:    
      *@-                               .#@@@*:#: +:##:#=           .-. ++           =#=#:            -@@- .*.==%-      ::           --=      -#  .=          -:             :-        +@@%=@@@@*       :*-      .                -#--*=  =*  +#:%#=+:+#:             . +#*@@@@%%%*@@@@@#.           .%%.    
      %@@.                               =@@#%+ #*.+-=@=*=            .. -+           .#+=-            -@# :+:=+@.      -   :        --=    : %=  .=          =             .*        =@@@##@@@+       *-                       :*+.++ ..#=  **.#*-.:-                 +=+%+@@@#%-@@@@@@-            *@%.    
     .@@@%.                              .%@#=%- :#::-.%##+               :*.           +*+*            -@+=+:=+#      :-  :        .-=-:. ::-%   --         ..             +.       -@##@#@@%-      +*.                      .+*::*.  :#:  **:#=                     ::*#-@@@+%+%@@@@@=            *@@%.    
     :@@@@*                               +@@=-%:  :-.*.=%%+                +-           -#:+-           =@%-:-+-     =.:  :        .-+--  -.*+   +.                       --       :%#:%@@@@:     .#: .:                   .*#: +-   =+   *=:*.                      .**.*@@+%#*@@@@@=           .%@@@%.    
     +@@@@@#                              :@@@.+@:     +:.#@*                -+           .%-*+           +%-:-+:    .:.. .:        :-#=-  -:%-   +                  ..    +.       #* =@@@@-     -%. ::                   =*: :+   .+:  :#-=+                        -= -@@#+@=@@@@@#.          .%@@@@#     
     #@@@@@@%.                             #@@+ #@-     =: =%%.               .+:          .+-=#:          #----     -.:  ..        :-%=-  =+%:  :=                  -    +-       #%. #@@@@-    ++ .-                   .+:  =- . -=   =*-=.                        --  .#%:#-#@@@@@:          +@@@@@@+     
    .%@@@@@@@%:                            -@@%: @@-     :=  +@:                :*           *-:%-        .%=--:     - -  :.        :-@+: .=%*.  =:                 -.   :+       +@= .@@@@@:   #: -.                   :-  .*   .= .  *+*                          -.   +#.==-@@@@@+        ..#@@@@@@@.     
    .%@@@@@@%#@*.                          .#@@* :%@+      .  :%+                 --          *=:*#.       %==-     .:.:  -         --@*: :%%-  .+                 .-   .*       -#%. +@@@@#  =%..-                   .=.  -+   -:   =++:                               =%::+.@@@@@%        .+@@@@@@@@*      
    .%@@@@@@@@@@@@#+                        +@@#- ++#=          -#.                 :          ++=##.      %==:     ..-.  -        .:-@#: =@*:  :-                 =    ==      :#=# .#@@@@= %+ ::                   --   +=  .:   ==+-                                =@.-*.*@@@@@=      .#@@@@@@@@@%.      
     *@@@@@@@@@@@@@@@%-                     -@@+%..%+%-           ==                            *-:=#-     #+.:.    ::=  .:        .--@%:.+@-:  --                :.    *.     .@=+= :@@@@*:@+.=.                  .=   .*.      -==+                                 +* =* +@@@%@#.   :*@@@@@@@@@@@@=       
     -@@%@@@@@@@@@@@@@@@#.                   #@+++ =#=@-           .=.                           *=-**=    *+::.    :--  ::        .--@@=.*#.:  =:                -    +-      **.*- =@@@@=#-.-                   -:   -#.     :=+=.                                .%=.++ =@@@@@# .*%#%@@@@@@@@@@@@*        
      %@@@@@@@@@@@@@@@#+%@@#:                -@% +: *--%:            --                           +-:%#+   =*.:.    :=:  -.        .-=@@-.%=.:  +.               -:   -#      -# ==: *@@@+%::-                  :=    +%   . -=+=                                  =#.:*  =@@@@@%:%@@@@@@@@@@@@@@@@#         
      =@@@%@@@@@@@@@@@@@@###@@%+:             #@-:= -#.=#.                                        .#-:%#*  :%:+.    :+   =..       .-=@@--%.:: .+          ..   .*   .*      .%- +-..#@@#%.-:     .:           =:   .+=:   .+-.                                  -#-.+:  =%@@@@@@@@##@@@@@@@@@@@@@@.         
      .#@@@%@@@@%@@@@@@@@@@@#-+@@@@%+.        :@% =..*+ +*                                          %-.%@+ .#+-:    -*   = .       .==@@-#* =. -=          =    +    =-      @* --- -@@@# :-     -.          .*    =+--   -:                                    +..=.   *#%%@@@@@%.#@@@@@@@@@@@@@@+          
       :%@@@@@@@@*+@@@@@@@@@@@@*=:-+#@@%+.     *@-.+ .%-.#-              .                           *- #@+ *#--    :#   + .       :+=@@+@- =  +-         :-   :- . .+.     *@: *:- %@@#.-=     -.          :-    +-==                                       .=-::    .*#@@@@@@#-+@@@@@@@@@@@@@@@%.          
        =@@@@@@@@%%:+@@@@%+#%+#@@#-++..-%@@+   :@+ -- :%..*.        .    -                            +:.#@=-@-=    :#.  = :.      :++@@## .=  #.         +    -.:. +-     -@# :=::*@@# :+     +.          +.   :*.*-                                       :=       .@@@@@@@==+@@@@@@@@@%%@@@#%@:           
         +@@@@@@%@@@= =%@@@#.=*:-*%#:-#=. -#@+  +%. =. -#..=        .-    :.                           ==.%%-%==    .#:  = :.      :*+@@%: -- -*         :-   .- = :*     :%%= =-:=@@# :+    .=          .=    =::%-                                       +.       =@@@@@@#:%@@@@@*.#@@*%@@@*%@-            
          %%@@@@@#@@@%- .*@@@- .+*:.*#+:**. .=%= *= :-  =# :+        .=    .=                           -::@%=%=.    #+  = ::      :#*@@#  +. *:         -.   -::- *.    :@+%. =.-#@%.:+.   .=.-        +:   -: =@.            .:                        .=        +%@%+%%-+@@@@@=.:%@*=@@@@%@@=             
          -@=%@@@@%%%@@%: .=*+=   :*- .*#-%*   -%-#. -.  +# :+         -     -                         . +--@-+#-    *% .= .=      .#%@@+  * .*          +    = =.-=  . .#.** .-:-%@#-*. . .+ -       .=    +  +#              -                        =-       .@@@+:%#.#%@@@*  :%@==@@@@@@@=              
           #@+%@@@@#%#@@@#: .:-=     -:  :+#%+   -%# :=   ++ :=        .=.    =.            :          ..:=- ..**    +@:.=  *       +@@@- .+ :=         :=   .=.+ +: :. *=:*: :-:-##.+   -.- :.      :=   =: .#*.             .:                       -.       -@@#: %=.%@@@+   +@%.+@@@@@@%.               
           .@%-#@@@@#*@@@@@#. :-+:          -%@+  .%+ =:   =* --         -.    :-           :-       .%@@@@@@@@@@@%= =@-.=  +:      -@@%. :+ =:         =-   =.-=:+  - ++:-*  .-:=%.=:  - =.:-      -.  .=  :%:            .:.=                       -       .%@%. :@:=@@@-   .#@#:*@@@@@@#.                
            :%@-+@@@@@#+%@%%@*..--+:          .+@+. #- =    :*.=-         -:  : :-           .=      -@@@%*=::..  -%@@@-:+  :+      :@@%  --.+          *:   -:*-*- -:-%::*=  :::#+-+  :.=:.-      :: .=.  -%:            .:.=                               =%@-  =# *@#:    .%@*.#@@@@@@=                  
             -@@+*@@@@@@%=#@*+@#. =#*.           :#*:#..:    .= --         .=  -..+           .=     +@@#+++=       *@@=-=  =%%%%##*==@#  -.:-          #:  .--*=#  +.#*=:%.  :-+%-%. -:--.-      -: :+   +#         :    - -.                              *@=   *#:@*.   . =++= #@@@@@@-                   
              +@@*=@%@@%%@@=+%#+#*. *#*:            =%%.       +.=:          -  -..=           .-    +@#    +       .#@##==@*-.....-=**%%@@++-:.::-+*###%+  .-+**- -::%+.=-   :=%**- :-.= -.     -. =:   *#         -    - -:                             .%*.   +*=%-      :.#=:@@@@%@@:                    
               =@@%=%%=#=-%@@#-*%#== .+%*.            +%.       =:=-          =. -:.-           :=   +@+    +.       :@#:#%+*=:           .::----:..    %@* .-**#. = =#-.=    =*@++ .- --=:    .-: +:  .%#.        -.   - .=                             .%=    =+*#.       .*:=@@@%#@%.                     
                -%@%:##. - .#@@#.-@%#=. *%+            +#        =:=-          -. .-:=   .-      =-  =@+    +.       .@@@*+@@@@@*.                     .+-%= -#** :. +*.:.   .*@-+. =. +=:     +:-+:  .%#         -.   - .=                             -@.    .*%+        .#:#@@@@#@%.                      
                  :%@=-%+.:. .+@%- :+@%- .++           .*#        +:--          -. .=--   .=      -. =@%    +.        #@*+@@@= *@%.                  .    :%:=##= :  +-::    =#.=- +. ++=     = =::. -@*   :     =    -. =.                            =+      =%-        -#:%@@@@%@*                        
                    +@%.+@- -   +@*.  :@#: :+ .          *#        =---          --  #*..  .= .   :- -@@:  .*         #@*@@%- =%#@%                  .:    .+=#+-.  .*:-    .%:.# =. .@*     -.* :: *+=.  ::    -    -: +:                            +=     .*%. .      -+:@@@@@#@+                         
                      *@#-#%:-.   -%*.  .*%:.%-           -+        --.:          :=  *#    -. -.  - -@@**=:         :@@@#=* -#-@@@-                  :.    =*.     -+:     -= -.-:  *#     ---..::#:+:  .:    =.   -- *-                           .+:     :#-         ===@@@@@#@+                          
                       .#@%+#+--    :++    -=.*=           .=        .-            := .**    = .-  ..-%@-             -@#.#-:%=%#@@#                   =     *= .   .       -       -*     :=- -:-%.-:  :=    =... :- -+                           .+     .*-          +:+@@@@@*%-                           
                         :%@%#@*+     .#=    .:*+                      :             =  #+   .= :- .=%@@:             :@++#.%+*%#%@@-                  .-    .%-                    *.     -- .  + .-  .=    -: : .= .+                   .:      --     +-           +=%@#%@@+%-                            
                           =@@%###=     :#=    .#+.                                   -. #-   .::#@*:.%@-             :@#@-=*.+- -@@*                   -.    .#:                          ::   .. +   =    .- :. =. =-                  .:      .     ::            **%@*+@%*@-                             
                            .#@%#@#%.     :%.    **:                                   -.:#.   *@=    #@-             .@@+.*     .%@%.                   -     :%.                                #   =-    = :: =- :*                  ::            .            .*@@@*=@@+%-                              
                              -@@++%@*.     *+    ++:                           :.      ::=* =@-      *@.             .@#         +@@=                   .:     :#                               -.   =    -: - := .#   ..             ::                          #%+%*+@@=#+                               
                               .#@*==@@-     .*.  .#+:           ...             -.      ::+%@:       +@.             .@+         :@@#                    -.     #-                                  ..    + :. =  +:  .=             -.                         -@+-@*+@@*##                                
                                 =@%+-+#%:     =-   +=:           ::              -.      .*@-        =@.              %=          %@%. .               .. =     =+                                       .:.- :- -=  .=       .     -.                         +@-:%%+@@#*@:                                
                                  :#@*===##     .+.  *-            .-              -.     :@*         =@:              #=          +@@. .:               : .:    .*                                         :: : ==  .-       =     -:                        :%%:.%%##@%+@=                                 
                                    *@#:=-=#:     -: .#+            .-              =     #%.         =@:              %*          =@@:  -               .- -     *.                  .                         =:  :-  .:   =    .:-.                       -%%:.@@%-%%=@*                                  
                                     :#@-.==#=     .-  #+             -:    .-   .   +.  -@-          +@-              #%          =@@-  -                :.::    +-                .=                             :-  ::   =.   :-:.    .:                 :@#:.#@%-*%+@%:                                  
                                    .  =@* .=*%.     . .%#           . :+    :-  ::   =. %+          .%@-              #@.         -@@=  :.                -.-    ==                =@.                           :-  - .  =:   =-.     -.                 -@#- +@# +@=#@+                                   
                                        :%@= .+%:       :%%.             =:   .=. :-  ::+%.          +#@-              #@-         .%@=  .:                 -:-   :*               =%:                           -: --.   =-:  =- :.  .-                  .%*+.+@= :%-*@#                                    
                                         .%@@- .%*        #%..            :+   .:. ::  =@=          -**@-              =@*          *@=   -                 :::.  .#.              @#.                        .   ..     --:  #: -.  -.                   *## -@-  *-*@%                                     
                                           #%@%= -*.       *@-              +=   -: .= **          .@.+@-              -@#          -@=   -                  =..   *-             .@#.                                 .+:: =+ :- .:=                    =%+ -%:  =-=@%:                                     
                                           .#*++@+.==       +@=              -*   .-. :#.      :   *# *@:              -@*          :@=   :.                 :+ :  +*             :@#                                 :-:::*. -: :=.                    =@*..%:  :.-%@=                                      
                                             %+*+-#*:+       -#.               #-  .- +=      =   -@..#@:              =@=  .       .%+   ::                  *: - -%            :%@:                                -:.-*: =- :+.                     =@% :@:  : -*@*                                       
                                              +*:*==#++:      ==                -+   %*.     -.   %* :%@.              *@@=          *=   .-                  :+ ...@.          .%%.                                ..-+:-*:.-+.                      +%+ -#     --##                                        
                                               =@:-#-*%=-      -*                 *==@.     ::   #@- -@%               #@*@@:        +*.   =                   +: :.%=           *@%@#.                                 *: -*.                      .#=-.#*     :-=%:                                        
                                                -%=.*++##:      .+.                -%.     .=   -@+. =@#               :@+*%=        =#..  =                   =- .:*=             .+%@#:                             -+ :*-  :.                   :#:=+#=     :==@-                                         
                                                 :%= =:=%#=      .#.              :%:      +   :%@.  #@+               :%+.          :%::  =.                  :+  -=*               ..#%@#=.                        == *=. .-                    *#.+*=:     :=:%-                                          
                                                  :%+ -+.+%=       +-            -@-     .=    #%    #@.               .%:           .%:-  +:                  .#: :*#.                  =%@@@%*-                   .=-+  --.                   :#-.*:+.     :- %=                                           
                                                   .#*.:+..#+       ==          +%.      =.  .%#.    %#                .%=            %-:  =-                   +*  %%:                   .*@@%+.                   -=..-:                    .#*.-+:=      :=.@*                                            
                                                   ..##  #- =#.      .+        *%.      *.  :%%      %%                .%-            *+.: =+                   :@. +@-                 :%@@*.                    .- .= .-.  --              :#: +.-=    . =:.#@.                                            
                                                     .%#. == :*:       .      #%.     .+   -@#       #@                :@-            =#.: -*                    %- =@*              :*@%+.                      :..-.::  :-.              .=:.=:.=:     .-.:%%                                              
                                                      .%#. -#  **            ##      .=   *@#.       *@:               :@-            :%::..*                    ** -@%           .+@@=                          :+.=:  -:                +: -- :=      -. -@%:                                              
                                                       :%%. .#: :#:        .%*      :+. :%@*         +@-               -@%-.           #= : *.                   -#.=#@:      -+%@%*.                             .-:::             .:-.-: :- :+.     -.  =@@:                                               
                                                        -%%.  +:  +*      -%+      --  +@@@+         *@+               =@+@@@%+-.      +% : *:                    #:=*@+     -@@@-                                 -:      .:      +:.+- .+..+- .    -   +@@.                                                
                                                         +@#.  ==  :*.   +%-    . +: .*%:-%@*.       #@*               +@: :%@@=       :@- :.=%#*=:               =-:#%@.    -@#                                    #: ..-: .-: .-:-*:  -: --       -.  +@%:                                                 
                                                          *@#   :=  .*:.##.  .-.:=  :%+-.:@=#-       %@*          .    +@:  =@@-        #%%@@@@#**@%+             :+:#*@-    -@*                                    :%-. .--. .=.=+.  -= --.      .=   +@@:                                                  
                                                          .%@*   :=   =@+  .=. --  +@#. --%@.       .@@*          .-   *@-  .@@-      *@@@#:     . *@@.          ..* ++@*    +@=                                     +++=  .=+.-*   :- :=.       :=   +@@.                                                   
                                                           -@@=    =.=@-  -: .+.  *%: *- :%@+.      :@@*           ::  #@=   #@#   :#@%+.           *@%.       .+%%#%%%*#.  .@@-                     .:------:.      .#---=..--. .-: -=.        =:  .*@%.                                                    
                                                            +@@.    *@. .+  .=  .#%.-- *#:%@ -@@@%%%#@@=            :. #@+   *@@**@@*.           :   *@*      -%-     :%@*  +@%:            :+#*#%@@@@@%*=---==*%#*:  -*       . . *-         :+    %@%.                                                     
                                                             *@+   #*. =:  -=  :%* :: =.-@+.:    =*@@@@.             -.%@@@@@@@@@%+             -:    #@=   -%=         .*@#@@*      .:=#@@@@@@@#*=:                .. *=  .:. .:-.          +:   +@@%.                                                      
                                                             .#@::%+  +.  -:  +@=   =  =:=:        .@@%     :         =@@@@@@@@#:               -     :@%. #%.            =@%@+.=*%%@@@@@@@@#-.                        .#=: ::.            -=   -%@@%:                                                       
                                                              :%@@- .+   :- .#%.     :-.=#.        :@@*      +:        -@%%@%=                 .=      =@*%*               *@@@@@@@@@@@#*-::=++***++-..                 -=.            .===:  -%@@@@-                                                        
                                                               *%- .=   -= -%#.        .%=         +@@=       =-      :#@%=.                   .+       #@:                +@%@@@@#+++#########*+-:... .:-=:            .*-=-::     .=+:--  :%#+@@@:                                                         
                                                             .*@. .+.  := +@+          +%.         =@%:        .*%+#@@%-                       -@:      -@#                *@*+=*@@@@@@@@@@@@@%%%@@@@@%-    :*.          +-    .-..+. -*. .#* #@@%.                                                          
                                                             #%. .+  ..=.*%: -:       .%-          *@#.       .:=*#*:                         -@@=   ::..#@%:              #*=@@@@#*=-:.           .-*%@@%+.   -:        :+.::..--. :+. .=..*@#%@:                                                           
                                                           .%%.  -. : -:#%.-  .+      =#          =%@+  .-#@@@#+:                            *@@@@%+==#%@@@@@@%#.          %@#-.       -*+.             -#@@%+    .      .#=--. . =#..=+.:*@@=%%.                                                            
                                                          .#%.  -: - -=## . .-  --    *-  -%*#%@%+%@@-=%@#=.      ..----::.           .-+#@%*+:               =%@-        +@#        *@%%*%@=.             :#@@%-.        #.  .+%*:.=:.-==@#=@@-                                                             
                                                          ##-  := -.:+##. .:  := .-: .#.     .=@@@@@@@@=.       +%%*=-==*#%@@%%****%@@%*-.                     -@*       :@+==      *@:  .:.                 .*@@@#:      #==%*: :: .=:-%@-:%@=                                                              
                                                        .#%-  .+ :..*@%+-   -.  :-.  -+.       =@@@@@#.       .#%.           .---+-.                           .#@+     .#%..%:    .@*  :%- .*=                @@*@@@%*   *#. .-:.:+.-%#: :#@%.                                                              
                                                       .##::  =..=.*@@@#:+   :-   .:.==         -@@@@=     .. -@:                                               *@%*-   +@:  =#.   .%= .%@-.-%=               .@#+%: ..   +#-.   :.+%=  .==@@.                                                               
                                                       +%.-. .+ ==-@@-=@#.+.   .=.   @-        :%@+#@*    .-. +%=      .*-        .                         -.  +@@====#@+    #=    %-  +:   *-               #%:+        +#     --   :=+:%@-                                                                
                                                      .@=:-  *-.*-%@* .#@#:+:    .:: --        :@* *@*    - . *=+    -+:        .=#=.                      .+   :@@%.:#@:+:   -%.   -#.     -%.              **--         +#       .--++:+@#.                                                                
                                                      +%:-. :%.==+@%-  -@@+.==       *:        =@#.+@#.  : .. #:+   -              .*%=                 :*@*    .@@@##+  .+-  .#%    .=-  .**.              *#-           *#     ===++- .%@-                                                                 
                                                      *%:=  *#.*=#@*    *@#-.==:     #:        -@%.-@@:  : .. #:*             .-=-:   :*%*-.        .+@@@*.      #@@@+.   =-:  -@+       .                -#-             #* .==-=--.   *@*                                                                  
                                                      *%+= :@+:*+@@:    .@%+::- :.   %=        .#@:.%@=  - .. #:%           .#*:.:=##:   :*@@#+:.  *@%@@%=       =@#=      -=:  *@-                      =:              :%+    .      .@#                                                                   
                                                      -%+- +@-=*#@#      *@*=.-  .- .@=         =@+ +@#  . :. +-#          :@:        =.    .+%@@@@@@@%@@-       .#+.      :--:  %@@*-.. .                               +@:           %%:                                                                   
                                                      -%*:.%@-*##@-     :+@*=:=.    .@+          @#. #@.   -  +-+          +:                    :-=++#%@@%*=.    #++.      =-:: =@%=#@@@@@%%%#%%%#=.                   .%*   +==*#%#**@*                                                                    
                                                      -@%.=@@=##%%.   *@%=..:*+     .@#.         -@- -@-  .:  =--          :                               -#@@#. *++=     . *:=- *@+:-::-===--.                        +%.   .@#:..-+#@@#                                                                   
                                                      .@%.#@%*%#@+ .*@=      #-.:.  .%@:         .%# :%+  =   =--                              .+.            .+%@*#-=.:   .: =.+::@%.                                 .@+     :*       =%@-                                                                 
                                                       ##:@@@#%%@:.@*.    .=+@+ .   :@@=          #% :%*  .   -:-                               -=            .  .*@%== :.  .:.+ =:=@+                                 #%:      *=       -@%.                                                                
                                                       %#*@@@%%@*:@*   =@@@@@@#::.  -#@#          +@:.%*      ::-                                *=               .%@#=- =.  .:.* +-*@:                               :@*  .  .#@@@%#-    *@+                                                                
                                                      :@#%@@@@@@-%*  -@@#@@%:*%#%. :.-@@.         =@-.%*      -:-                                .%.              .%@%#-- --  .:.= =*@@.                              *@:.. - .%+:=:.*@:  .%@.                                                               
                                                      +@@@@@@@@%%%. :%@#%@=  -@@@-.- :@@-         :%#:%*      ::-                                 =@=.            -@%:*@-:.-+  .-:=.-#@%:                            :@+ . .::%@#   =:*@:  +@*                                                               
                                                      +@@@@@@@@@@*. =@%*@+   :@@@%--. %@%         .%@-%*      -                     :.           ..%@#   .:=.     #@# .#%=:::+- .-:*.=%@%.                           #%...*@+=@@:    .*@*  -%@.                                                              
                                                      +@@@@@%@@@@=  +@#%%   .#@@+%%.. +%@-        .#@=##      -                      .*     .-.    =@%@@@%=.     +@@#   %%+.---# .:.+:-%@@-                         =@+  =@@@@@@%.    *##. .#@=                                                              
                                                      %@@@@@@@@@@=  +@#@*   .-..+@@%-..%@*         *@*##      .                        ==.    -.   -%@@*.       .@@*%   :%#*:.=:%*.-:+--#@%-                       :@%-  *@-  =%%:    #**.  *@+                                                              
                                                     :@@@@@@@@@@@*  =@*@*     =@@@@@@- +@%.        +@##%                                 =+    ::  #@@@=       .#@#:%:   :@%%:.+:*%-::+==%@@=                      *@+  :@@%-        .%+=   +@+                                                              
                                                     +@@@@@@@#:*@#. .%=%%    *@@@@%: *+.%@=        :@%#@.                                  +*:  : +@@@@@=      -@@-.%=    :@@@*.-=+@#:.=++%@@+                    :@% . %@@@@@=      -@#    *@=                                                              
                                                    .#@@@@@@@  .@@-  -=*@:  #@@@@=   +@--@*        .%%#@.                                   .*#- +@@@@#=%-     +@*-:#*     .:+@%--+-@@- +*#@@@+                   @@:.*%%@@@@@@-     +@    .%@:                                                              
                                                    :@@@@@@@:   +@%   .=@+  -@@@#.  -@*%.#@.        *@*%:       .+##=                         :@@@@@=  . :.    #%:#-##.       -@@=-%+@@= ##%@@@=                 *@+ +#..#%@@@@=    .%+    =@#                                                               
                                                    +@@@@@@*    .#@=    #@.  +@@@+:+@@:+@+@+       :*%+@#**#%%@%#=.=@+                         #@%:          -%@+.%*#%.        .*@#=@@@@= *%@@@@-               -@#:%@=  .+@@@%.    ##.   .%@-                                                               
                                                    #@@@@@@:     -@%.    #*.  #@@@@@@@- #@@%.     -@@-*%: .  -:    .:@%%@=                    -@@%=-      .=%@@+#-@%+%.           *@@@@@@=.#%@@@%:            . #@.*-:%.  *@@@:    ##.    *@*                                                                
                                                   :@@@@@@%       =@*     *+   =@@@#@@%*:%@@+     :%@. :.----:-----: .+-*@%-                  -@@@+=@@@@@@@%*: .#*%@#@:             +@@@@@+-@%@@@*             =@=*- :@*  #@%:    +*.    +@#.                                                                
                                                   :@@@@@@#        =@*     *#.  .+@@@@@@#.*@%:    =%-.-#-.          .-    +@%:                .@@@@@@@%%%:      *@@@@@:              =@@@@@=+@@@@@.           .@%%-:#%@%:#@#.   -%-     +@@:                                                                 
                                                   .@@@@@@#         +@#     :#.     :+#%@%..%%.   #%-                   .: .#@%-               *@@%=. .%@%%##%#*#@@@@@*:.             :@@@@%.#@@@@+           #@-:@@@@@@@%:  .=#=      *@%.                                                                  
                                                    %@@@@@#          =@#.     =+.        .  :%%   ##                      :-..*@@%%%%%%#%%@@@#.+@%=+*%%@%.      .%@@@@=:=***=--:       :%@@@*-%@@@%          =@*.#@@@#=:..=#*=.      -%@+                                                                    
                                                    %@@@@@+          ..%@=       .           +@*  *@.                        --             .#@%@*    #@%=::.    +@@@@* .-%%#.          :@@@@-#@@@@.        .%@: -@%.   *.         :@@*                                                                      
                                                    -@@@@@*             +@%=                 .@@= #@-                           ::::::---:   -@@@=.=:-@@..--=+****@@@@%#+-.              -@@@*=@@@@:        #@=        .        .=%@*.                                                                       
                                                     *@@@@%:              *@%*               :@@@=*@.       .=**=..:--==-.                ::  +@%-  .%@-          #@@@@.                  #@@%-@@@@-       +@#                -%@%-                                                                          
                                                      *@@@@+                :+%@#=:.       =@@@@@@@@::#@@**+:       ...:::.                .-  .*:.=@@=           =@@@@+                  -@@@+#@@@-      =@%:            .-#@%+                                                                             
                                                       :%@@@-                   .=#%@@@%%@@@@@@@@@@@%@@+.                                   ::   :#@*             .#*@@%.                 .%@@%+@@@:    .=@@*.         -*%@@+.                                                                               
                                                        .%@@@:                        :#@@@@@@@@@@@@#-                                       .      .%%.           =*#@@+                  *@@@@#%@.   =@@%-%@@%##%@@@@%#=                                                                                   
                                                          +@@@=                    -*@@@@@@@@@@@@@-    .:--=++===--:                            :    .#@=           *+%@%:                 =@@@@@@%   =@@#.  .:-----:.                                                                                       
                                                           =@@@%                 +@@@@@@@@@@@@@@@:  -=::==.                                     .+   =@@             =+@@@.                -%@@@@@=  #@@#                                                                                                    
                                                             =%@@*.           :#@@@@@@@@@@@@@@@@@@@@@@@#-:.    =.        :=:                     .= .%@=              -#@@@:               :@@@@@#..#@%=-*%@+.                                                                                               
                                                                .:+:        =@%@@@@@@@@@@@@@@@@@@@@@#*=---+*%%+*.           +-                     :%@#                 -%@@:              .@@@@@=-@@@*+#=::*@@=.                                                                                            
                                                                          =@@@@%#*#%@@@@@@@@@@@@%==-==--:..    .=*#+.   ..                         #@%.                   .*%:             :@@@@@@@%=.+#%+=+-:-%@#:                                                                                          
                                                                        =%#:*@+::.::-*@@@@@@@@@-          ...       -*#=:.                       .@@%.                                     -@@@@@@=::::::=#%==*=:*@%=                                                                                        
                                                                      -%*.=%*-:-:-::=-*@@@@@@= .....                   .*+.        =.           -@@*                                       =@@@@%-::::::::::+%=:++:=%@+.                                                                                     
                                                                    -%%::%%=:::::::--=-+@@@@#**+----=+###=.        ..:    =*.   .-:            =@@=                                        *@@@@=:::::::::::::=+::=+:=%@+.                                                                                   
                                                                  .%@=.#%#:::-::::-=-+:=@@:               :#*         ==   .@* =-            :%%%.                                        .#@@@+:::::-:::::::::-::::*+--#@=                                                                                  
                                                                .*@#:*%#=:::::::--*++=%@=                    :=:      ..=:  .%%:.     :++  .#@%-                                       .=#@@@@%:::::::::::::::::::::::*=-=#%+                                                                                
                                                                %*.*%**-:::::::::=#=%@#.                       .+-        -. .#* .-=+=.  +%@#:                                       :%%*%%@@@*.:::::::::::::::::::::::-*=-=#@*.                                                                             
#+-.                                                          =#.=#**=::::::::::-+%@@+-+#**##*-.                 .=        -.  *%+.   :%@#-                                       .=@%*%++@@@@+::::::::::::::::::::::::::++--=*@#:                                                                           
@@@@@@#+:                                                   :%=.#=-*--:::::::::=%@@+.::.      .:=+.                =:-:     +. .@@+.+%@=.                                      .+%@%#@#.-@@@@@*.::::::::::::::::::::::::::-*+==-+%%+.                                                                        
@@@@@@@@@@%:                                               *@-:*-++.::-:-::::-%@%-                .*=             - :- =     =. *%%@@*.                                     .*@%%%=%@: -@@++@@*:::::::::::::::::::::::::::::-#+-=-=#@%-                                                                      
@@@@@@@@@@@@@#-                                           -@-.+-*==:-=::-::-#@%-..               ..  =+...         =::=.=    .- +@==%@@@#+:.                             -#%%%##+*@#..#@*..#@@%:::::::::::::::::::::::::::::::-++=++==#@*:                                                                   
@@@@@@@@@@@@@@@@#.                                         =@+-*--:+#::---#@@-:-:. .                :  :+.::        =- + +.   :=@@@%=:@@@%@@@#=                      .+@%%###%=#%%:       .%@@@@=::::::::::::::::::::::::::::::::=*=++=-+@@= .                                                               
@@@@@@@@@@@@@@@@@@@*:                                        -*#*==---==#@%*+=:..--+*+-.  ::          .. -+.:.       +:.= -.  =@@@@@@@*=*%@@@@@@@%+:             :+%@##***+*#@@@=         :@@@@@@%+:::::::::::::::::::::::::::::::::=++*+--#@#:                                                              
@@@@@@@@@@@@@@@@@@@@@%+                                         -%+:-+#@#.         :: .:*+.            ... == =.      *.-+ : +@@@@@@@@@@%#==#@@@@@@@@%#+===*#%%%####**+-+%@@@@%:          =@@@@@@@@+#+:::::::::::::::::::::::::::::-:::+**+-.+@%=                                                            
@@@@@@@@@@@@@@@@@@@@@@@@#:                                       .+%#@#.              .    =+.           .= .*:::      = #=+@@@@@@@@@@@@@@@@@*-.=*%@@@@@@@@%%%%#%%*==+%@@@@@@@:           +@@@@@#@@%@%@@#=:-:::::::::::::::::::::::::::::+#+*=:-#@*.                                                         
@@@@@@@@@@@@@@@@@@@@@@@@@@%-                                      .#%-                       :*: ..        -. --.-     :-#@@@@@@@@@@@@@@@@@@@@@@@#*-::=+=#*#%%@%**%@@@@@@@@@#.            *@@@@@@@@@*:=#@@*=:::::::::::::::::::::::::::::::+#++=::#@#-                                                       
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+                                  .=@#.                       .: :* .:        -. .#.:    :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@++%@@@@@@@@@@@@@@@@@#.             %@@@@@@@@@#::-.=%%%*:::.:::::::::::::::::::::::::::=#==+..*@@-                                                     
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+                              .*@%=......                     .: -+.:.       =:  -+. .*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#              :@@@@@@@@@@+-:--::+%%%#-::::::::::::::::::::::::::::::**=++::+@%-                                                   
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*                           %@%-..  .:-+*+.                    :- -#.-       =.  +==@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*               :@@@@@@@@@@=:-------#@%#=::::::::::::::::::::::::::::-:-#+--=::#@%.                                                 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*.                     :#@#:.::::::::.  .-=:                   :. +:-.     ::  -@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#.               :@@@@@@@@@%=--------:=%%%-:::::::::::::::::::::::::::::::=#=----+@@=                                                
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%-         :=*=--- -%@+.            .-.   :-:                 :- -*..     - *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%.                :@@@@@@@%=------------:*@+:::::::::::::::::::::::::::::::::=*=.-*=%@+                                               
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=. .:#@@@@@@@@@@@+                  ::    --                .- .*-.    :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.                 *@@@@@@*---------------:+%-::-::::::::::::::::::::::::::::.-:+#= -+#@+                                              
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@*-..                    :.   .-:              :: .*+  :%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-                  #@@@@%%@*---------------:#=-:-:-:::::::::::::::::::::::::::::-:+@=.-%@*                                             
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%*=: .   .                   ::  ..= .: .         -   %-+@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*                   #@@@#--#@@=-:-------------=--:-:-::::::::::::::::::::::::::.-#=...:-#@+                                             
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#:    .:-+=-.  .:.               ::   :. -:          =  +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%:                  .@@@%--:=#@@%=:------------+#--:---:::::::::::::::::::::--++-.=::*#%@+                                               
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%=:  .::===:   .-*-  .=-              ::  .:  +.        =-#%@@@@%+---%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#.                    :@@@#-----=%@@%=:-:=---:-----+#:-----:::::::::--:::::-*=-:#%%@@@@@#:.                                                
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#:            .:--.  .-:.                .-  .-  ::       -@%---::----:+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*                      =@@@@-------*+-*%*=------------+--------::::::::-:=+=:::-+@%:                                                        
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#-:.                 .:-. .:-.               -:  =. ::    .#@*:-----------%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#=.                       =@@@@%------------+%%#+-----------------:::::::=+=:::-#@@%+.                                                         
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%=      :-++:.              .:. .-. -:           :-  +-.:   -@@-::-:---------*@@@@@@@@@@@@@@@@@#::+::-:-=%*+++===--:.                           =@@@%=+------------::-+@*:==--------:--:::-:-==:-=#@@%*..                                                            
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%+-=++**+-     :-=.              .. .::.--          --  :=- .*@%=::------------+@@@@@@@@@@@@@@@@#.  ++    :%*                                     =@@@@-+#----------:--:--*%=-------::-----====-#@@%*-.                                                                
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*=++++=:.   =##:     =+.             ::  .: -:         -:  -* %@+.*+:-:-----------%@@@@@@@@@@@@@@%    .%:   :%@+                                    -@@@@=-=+--------------::=*--------:-*%=:::-@@*                                                                      
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%+.          .:--:  -+=:    ..             ::  .: --        -.  *@@@@#:.-+=-----------#@@@@@@@@@@@@%=      =#    +@%@*                                  .%@@@---+----------------------=+**+=:---+#-                                                                         
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=:               .  .:   :+=                  :. .= .=.      .- +@@@@@@@#-. :+*--------#@@@@@@@@@@#.         *-       =:                                 :@@@%------:----=+**#*#**+===---:--:-::*@=                                                                           
@@@@@@@@@@@@@@@@@@@@@@@@@@@%*-.  .-+*+-.              ::   .-=..              :=  =- :-      :@@@@@@@@@@@@@%#-:----===@@@@@@@@#-            .-                                          +@@@=------+**=:....:::::::::::::---+@@*.                                                                            
@@@@@@@@@@@@@@@@@@@@@@@@@##@@@@@%%*-.  .-=-.            ...   .-:               -. =- :-    =@@@@@@@@@@@@@@@@@@*.-===*@@@@@*:                                                          -@@@%-=--=+:..:=*%@@@@@@@@@@@@@@@@@@@@@@@@-                                                                           
@@@@@@@@@@@@@@@@@@@@@@@@@@@@..:+#@@@@@@*:  .==             ...   -.         .    =  +* ::  *@@@@@@@@@@@@@@@@@@@@@*.-*%*#@@#.                                      -                   .@@@@#-=*=..-%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%.                                                                         
@@@@@@@%%@@@%%@@@@@@@@@@@@*        .:=*@@@%+: :=-.                :=   .=.        =. -* =:%@%:*@@@@@@@@@@@@@@@@@@@@=:#@+@@%-                                      -                  .%@@@@*-+-.+@*.+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+                                                                        
       :*#-:*+:: :=%@@@@+                -%@@@*. .+.                =.   ::        =  +*-%@* .-@@@@@@@@%@#@@@@@@@@@@%%%%%@@*                                     :-                  *@@#+@*#:*@*   -@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+                                                                       
+=-:      .+%#-  -#@@#:                     -#@@%=. :=:            . --   :.       .: .#@@%  :.%@@@@@@@@@@# .=#@@@@@@@@:*@@@=                                    +:       ..        -@@%-#@#:%#:    :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#.                                                                     
   ..==:     -%%@@%:                           :%@@*.  -=.          : .=.  ::       ::-@@@@: .:#@@@@@@@@@@@    .*@@@@@@#-@%@@+                                   #.       *        .@@@==#%=@*.     :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*.                                                                  
@@@%#+-..  :*@@%=                                 -#@#:  .+:        .-  =-  -.       -@@@@%# .-*@@@@@@@@@@@:     :%@@@@@=+@%@@*               :                 .@:      =.       -@@%-+=@+%@:      :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%-                                                                
`; 
// Core hero information
const name = "Andrew";
const location = "boston";
const availability = "open to roles";
const statusCheck = "AWAITING_INPUT_";
const bio = "cs student @ wgu. programmer."; // Base profile info

// Additional details for fastfetch-style display
const bioOS = "WGU_CS_Candidate";         // Thematic "OS" or profile type
const bioFocus = "SOFTWARE ENGINEERING";  // Key areas of interest/study
const bioLangs = "Python, C++, Rust, TypeScript"; // Primary programming languages
const bioGPU = "LINUX";                  // Hardware/API focus (e.g., CUDA)
const bioMotto = "Self-trained. Always leveling up"; // Personal tagline
---
<section id="hero" class="hero-section">
    <div class="ascii-art-container">
        <pre data-text={asciiArt}>{asciiArt}</pre>
    </div>
    <div class="hero-details-text">
        <div class="name-status-line">
            <h1 class="name">{name}</h1>
            <p class="inline-status">
                <span class="status-dot-char"></span> {statusCheck}
            </p>
        </div>
        
        <div class="bio-fastfetch">
            <div class="bio-line">
                <span class="bio-key">LOCATION</span>
                <span class="bio-separator"></span>
                <span class="bio-value">{location}</span>
            </div>
            <div class="bio-line">
                <span class="bio-key">AVAILABILITY</span>
                <span class="bio-separator"></span>
                <span class="bio-value">{availability}</span>
            </div>
            <div class="bio-line">
                <span class="bio-key">PROFILE_INFO</span>
                <span class="bio-separator"></span>
                <span class="bio-value">{bio}</span>
            </div>
            <div class="bio-line">
                <span class="bio-key">OS_TYPE</span>
                <span class="bio-separator"></span>
                <span class="bio-value">{bioOS}</span>
            </div>
            <div class="bio-line">
                <span class="bio-key">CORE_INTERESTS</span>
                <span class="bio-separator"></span>
                <span class="bio-value focus">{bioFocus}</span>
            </div>
            <div class="bio-line">
                <span class="bio-key">LANG_STACK</span>
                <span class="bio-separator"></span>
                <span class="bio-value langs">{bioLangs}</span>
            </div>
            <div class="bio-line">
                <span class="bio-key">TARGET_HW</span>
                <span class="bio-separator"></span>
                <span class="bio-value gpu">{bioGPU}</span>
            </div>
            <div class="bio-line">
                <span class="bio-key">STATEMENT</span>
                <span class="bio-separator"></span>
                <span class="bio-value motto">{bioMotto}</span>
            </div>
        </div>
    </div>
</section>

<style>
    .hero-section {
        display: flex;
        align-items: flex-start; 
        gap: 30px; 
        margin-bottom: 60px;
        padding: 30px 0;
        border-bottom: 1px solid var(--border-color);
    }

    .ascii-art-container {
        flex: 0 0 auto; 
        width: 50%;  /* Adjust for desired ASCII art width vs. text column */
        overflow: hidden; /* Clips art if font size makes it too wide for this container */
        line-height: 0; /* Collapse container line height if pre has margins */
    }

    .ascii-art-container pre {
        font-family: var(--font-primary);
        color: var(--ascii-color);
        /* CRITICAL: font-size & line-height for fitting wide ASCII art. */
        /* Adjust these heavily based on art width and desired visual density. */
        font-size: 0.25em;   /* EXPERIMENT: e.g., 2px, 0.15em, etc. */
        line-height: 0.65; 
        white-space: pre;
        margin: 0;
        padding: 5px; 
        display: block; 
        
        /* --- ASCII ART GLITCH EFFECT --- */
        position: relative;
        animation: glitch-base 4s infinite linear alternate-reverse;
        will-change: transform, opacity;
    }

    /* --- ASCII ART GLITCH PSEUDO-ELEMENTS --- */
    .ascii-art-container pre::before,
    .ascii-art-container pre::after {
        content: attr(data-text); 
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;
        overflow: hidden; 
        font-family: inherit; font-size: inherit; line-height: inherit;
        white-space: inherit; padding: inherit; margin: inherit;  
        background-color: var(--bg-color); /* Masks original text for glitch layers */
    }

    .ascii-art-container pre::before {
        color: var(--accent-red-pink); 
        animation: glitch-layer-1 4s infinite linear alternate-reverse;
        will-change: transform, clip-path; 
    }

    .ascii-art-container pre::after {
        color: var(--accent-blue);  
        animation: glitch-layer-2 4s infinite linear alternate-reverse;
        will-change: transform, clip-path; 
    }

    /* --- ASCII ART GLITCH KEYFRAMES --- */
    @keyframes glitch-base { /* Base movement for ASCII art */
        0%, 100% { transform: translate(0, 0); opacity: 1; }
        2% { transform: translate(0.5px, -0.5px) skewX(-1deg); opacity: 0.95; }
        4% { transform: translate(-0.5px, 0.5px) skewX(1deg); opacity: 0.98; }
        6% { transform: translate(0, 0); opacity: 1; }
        48% { transform: translate(0,0); opacity: 1;}
        50% { transform: translate(0.2px, -0.2px); opacity: 0.9;} 
        52% { transform: translate(-0.2px, 0.2px); opacity: 0.95;}
        54% { transform: translate(0,0); opacity: 1;}
    }

    @keyframes glitch-layer-1 { /* ASCII art glitch layer 1 (red-pink) */
        0%, 100% { clip-path: inset(0 0 0 0); transform: translate(0, 0); }
        5% { clip-path: inset(10% 0 75% 0); transform: translate(-4px, 2px) skewX(5deg); }
        10% { clip-path: inset(60% 0 20% 0); transform: translate(4px, -3px) skewX(-5deg); }
        15% { clip-path: inset(0 0 0 0); transform: translate(0, 0); }
        50% { clip-path: inset(35% 0 35% 0); transform: translate(-3px, -1px) skewX(3deg); }
        55% { clip-path: inset(5% 0 80% 0); transform: translate(3px, 3px) skewX(-3deg); }
        60% { clip-path: inset(0 0 0 0); transform: translate(0, 0); }
    }

    @keyframes glitch-layer-2 { /* ASCII art glitch layer 2 (blue) */
        0%, 100% { clip-path: inset(0 0 0 0); transform: translate(0, 0); }
        7% { clip-path: inset(85% 0 5% 0); transform: translate(3px, -2px) skewX(-4deg); }
        12% { clip-path: inset(8% 0 65% 0); transform: translate(-3px, 2px) skewX(4deg); }
        17% { clip-path: inset(0 0 0 0); transform: translate(0, 0); }
        65% { clip-path: inset(25% 0 55% 0); transform: translate(2px, -3px) skewX(-2deg); }
        70% { clip-path: inset(75% 0 8% 0); transform: translate(-2px, 2px) skewX(2deg); }
        75% { clip-path: inset(0 0 0 0); transform: translate(0, 0); }
    }

    .hero-details-text {
        flex-grow: 1; 
        min-width: 250px; 
    }

    /* --- Name and Inline Status Styles --- */
    .name-status-line {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 25px; 
    }

    .hero-details-text .name { 
        font-size: 2.8em;
        color: var(--accent-blue); 
        text-shadow: 0 0 12px var(--accent-blue), 
                     0 0 6px var(--accent-blue),
                     1px 1px 2px rgba(0,0,0,0.5); 
        margin-bottom: 0; 
        margin-right: 15px; 
    }

    .inline-status { 
        font-size: 1em; 
        color: var(--accent-red-pink);
        animation: text-pulse 1.5s infinite steps(1, end); 
        margin-bottom: 0; 
    }

    .status-dot-char { 
        font-size: 1.2em;
        margin-right: 8px;
        color: var(--accent-red-pink); /* Redundant if inline-status is already this color, but explicit */
        animation: status-dot-blink 1.5s infinite steps(1, end);
        display: inline-block; 
    }

    @keyframes status-dot-blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.3; } 
    }

    @keyframes text-pulse { /* Animation for the "AWAITING_INPUT_" text */
        0%, 100% { opacity: 1; }
        50% { opacity: 0.7; }
    }

    /* --- Fastfetch Bio Styles --- */
    .bio-fastfetch {
        font-family: var(--font-primary);
        font-size: 0.95em; 
        line-height: 1.7; 
    }
    .bio-line {
        display: flex;
        margin-bottom: 7px; 
    }
    .bio-key {
        color: var(--accent-blue); 
        min-width: 140px; /* Adjust based on longest key for alignment */
        font-weight: normal; 
    }
    .bio-separator { /* Separator is visually handled by alignment and space */ }
    .bio-value {
        color: var(--text-color); 
        flex-grow: 1; 
    }
    /* Optional: Specific styling for certain fastfetch values */
    .bio-value.focus,
    .bio-value.gpu,
    .bio-value.langs { /* For potential emphasis */ }
    .bio-value.motto {
        font-style: italic; 
        opacity: 0.85;
    }

    /* --- Responsive Adjustments --- */
    @media (max-width: 768px) { 
        .hero-section {
            flex-direction: column;
            align-items: center; 
        }
        .ascii-art-container { 
            width: 90%; 
            max-width: 350px; 
            margin-bottom: 30px;
        }
        .hero-details-text { 
            width: 90%;
            max-width: 500px;
            padding-left: 0;
            padding-top: 0;
            text-align: center;
        }
        .name-status-line {
            justify-content: center;
        }
        .hero-details-text .name {
            margin-right: 0;
            margin-bottom: 5px; 
        }
        .bio-key {
            min-width: 120px; 
        }
        .bio-fastfetch {
            font-size: 0.9em;
            text-align: left; 
            margin-left: auto; 
            margin-right: auto;
        }
    }
</style>
